/**
 * main.css
 * What makes this website look pretty (subjective).
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

html, body {
	margin: 0 auto 0 auto;
	max-width: 750px;
	font-family: "Verdana";
}

a, a:visited, a:active {
	color: darkblue;
}

a:hover {
	color: #0076ff;
}

b {
	font-weight: bold;
}

p code {
	color: #e83e8c;
}

mark {
	padding: 0 3px;
	border: 1px solid darkgray;
	border-radius: 3px;
	background-color: whitesmoke;
}

pre {
	padding: 10px;
	overflow: scroll;

	font-family: "Courier New", monospace;
	background-color: #fcf9eb;
}

code {
	font-family: "Courier New", monospace;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

/* Navbar */
#navbar {
	padding: 10px 5px;
	border-bottom: 1px solid #585858;
}

#navbar > h1 {
	display: inline;
	margin: 0 10px 0 0;

	font-size: 1.2em;
}

#navbar > h1 > a {
	text-decoration: none;
}

#navbar > .nav {
	display: inline;
	font-size: 0.85em;
}

#navbar .nav-link {
	text-decoration: none;
}

#navbar-brand-link {
	color: darkblue;
	text-decoration: underline;
}

#navbar-brand-depot {
	border: 2px solid #ddae00;
	padding: 0 4px;

	color: #181818;
}

/* Main */

#main {
	margin: 1em 5px 1em 5px;
	font-size: 0.85em;
}

#main p {
	margin: 1em 0;
	line-height: 1.3em;
}

h2.section {
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

/* Link Shelf */

.link-shelf {
	margin: 1em 0;
}

.link-shelf > .shelf-header {
	margin-bottom: 0.5em;	
	border-bottom: 1px solid #bbbbbb;
}

.link-shelf > .shelf-header > h3 {
	display: inline-block;
	margin-right: 5px;

	font-size: 1.2em;
	line-height: 1.4em;
}

.link-shelf > .shelf-header > .shelf-actions {
	display: none;
	font-size: 0.8em;
}

.link-shelf > .shelf-header:hover > .shelf-actions {
	display: inline;
}

/* Link Box */

table.link-box {
	width: 100%;
	border-collapse: collapse;
}

.link-box td {
	vertical-align: middle;
}

.link-box tr {
	border: 1px solid #d6d6d6;
	background-color: #efefef;
}

.link-box .link-item {
	cursor: pointer;
	cursor: hand;
}

.link-box .link-item:hover {
	border: 1px solid #a7a7a7;
	background-color: #dddddd;
}

.link-box .link-item .col-icon {
	height: 48px;
	width: 48px;

	text-align: center;
}

.link-box .link-item .col-desc {
	padding-right: 10px;
}

.link-box .link-item .favicon {
	max-height: 28px;
	max-width: 28px;
}

.link-box .link-item .link-title {
	height: 1.1em;
	margin-bottom: 5px;
	overflow-y: hidden;
}

.link-box .link-item .link-url {
	display: block;
	height: 1.1em;
	overflow-y: hidden;
	font-size: 0.8em;
}

.link-box .link-actions td {
	padding: 5px 10px;
	font-size: 0.8em;
}

.link-box .spacer {
	height: 10px;
	border: none;
}

/* Footer */

#footer {
	padding: 5px;
	border-top: 1px solid #585858;
	text-align: center;
}

#footer > .copyright {
	margin-top: 0.4em;
	font-size: 0.75em;
}

/* Actions */

.action-add, .action-add:visited {
	color: #008000;
}

.action-add:hover {
	color: #004a00;
}

.action-delete, .action-delete:visited {
	color: #e83e8c;
}

.action-delete:hover {
	color: #9f0049;
}

/* Misc. */

.hidden {
	display: none;
}

.w-100 {
	width: 100%;
}

.centered {
	text-align: center;
}

.strikethrough {
	text-decoration: line-through;
}

.code-block {
	padding: 10px 15px;
	background-color: papayawhip;
	overflow: auto;
}

.form-line {
	margin-bottom: 5px;
}

.badge {
	vertical-align: super;
	font-size: smaller;
}

.badge-danger {
	color: #e83e8c;
}

.lead {
	font-size: 1.2em;
}

.branding {
	font-weight: bold;
	color: darkblue;
}
