/**
 * main.css
 * What makes this website look pretty (subjective).
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

html, body {
	margin: 0 auto 0 auto;
	max-width: 750px;
	font-family: "Verdana";
}

a, a:visited, a:hover, a:active {
	color: darkblue;
}

p code {
	color: #e83e8c;
}

mark {
	padding: 0 3px;
	border: 1px solid darkgray;
	border-radius: 3px;
	background-color: whitesmoke;
}

/* Navbar */
#navbar {
	padding: 10px 5px;
	border-bottom: 1px solid #585858;
}

#navbar > h1 {
	display: inline;
	margin: 0 10px 0 0;

	font-size: 1.2em;
}

#navbar > h1 > a {
	text-decoration: none;
}

#navbar > .nav {
	display: inline;
	font-size: 0.85em;
}

#navbar .nav-link {
	text-decoration: none;
}

#navbar-brand-link {
	color: darkblue;
	text-decoration: underline;
}

#navbar-brand-depot {
	border: 2px solid #ddae00;
	padding: 0 4px;

	color: #181818;
}

/* Main */

#main {
	margin: 1em 5px 1em 5px;
	font-size: 0.85em;
}

#main p {
	margin: 1em 0;
	line-height: 1.3em;
}

h2.section {
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

/* Link Box */

table.link-box {
	border-collapse: collapse;
}

.link-box > tbody > tr {
	border: 1px solid #d6d6d6;
	background-color: #efefef;

	cursor: pointer;
	cursor: hand;
}

.link-box > tbody > tr:hover {
	border: 1px solid #a7a7a7;
	background-color: #dddddd;
}

.link-box > tbody > tr.spacer {
	height: 10px;
	border: none;
}

.link-box td {
	vertical-align: middle;
}

.link-box td.col-icon {
	height: 48px;
	min-width: 48px;

	text-align: center;
}

.link-box td.col-desc {
	padding-right: 10px;
}

.link-box td .favicon {
	max-height: 28px;
	max-width: 28px;
}

.link-box td .link-title {
	height: 1.1em;
	margin-bottom: 5px;
	overflow-y: hidden;
}

.link-box td .link-url {
	display: block;
	height: 1.1em;
	overflow-y: hidden;
	font-size: 0.8em;
}

/* Footer */

#footer {
	padding: 5px;
	border-top: 1px solid #585858;
	text-align: center;
}

#footer > .copyright {
	margin-top: 0.4em;
	font-size: 0.75em;
}

/* Misc. */

.hidden {
	display: none;
}

.w-100 {
	width: 100%;
}

.centered {
	text-align: center;
}

.strikethrough {
	text-decoration: line-through;
}

.code-block {
	padding: 10px 15px;
	background-color: papayawhip;
	overflow: auto;
}

.badge {
	vertical-align: super;
	font-size: smaller;
}

.badge-danger {
	color: #e83e8c;
}

.lead {
	font-size: 1.2em;
}

.branding {
	font-weight: bold;
	color: darkblue;
}
